<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="src/css/style.min.css")
    body.centered-content
        main
            h3(class="insurance-header") Проверка услуг медицинского страхования
            form(action="/" class="insurance-main-form needs-validation" novalidate)
                .insurance-type-block
                    input(type="radio" name="type" id="oms" checked)
                    label(for="oms") ОМС
                    input(type="radio" name="type" id="dms")
                    label(for="dms") ДМС
                .insurance-number-block
                    .form-group
                        input(type="text" name="number" id="number" pattern="[0-9- ]{8,}" required placeholder="Введите номер полиса")
                        .info.hidden Не менее 8 цифр.
                    .insurance-search-wrapper
                        .insurance-search
                            input(type="search" name="company" required placeholder="Выберите страховую компанию")
                            ul.search-list
                                li 
                                    img(src="src/img/randevu.png", alt="Рандеву")
                                    span СК Рандеву
                                li 
                                    img(src="src/img/logo.png", alt="Мед-сканер")
                                    span СК МЕД-СКАНЕР
                                li 
                                    img(src="src/img/light-bulb.png", alt="light-bulb")
                                    span Страх-трах
                                li 
                                    img(src="src/img/randevu.png", alt="Рандеву")
                                    span СК Рандеву
                                li 
                                    img(src="src/img/logo.png", alt="Мед-сканер")
                                    span СК МЕД-СКАНЕР
                                li 
                                    img(src="src/img/light-bulb.png", alt="light-bulb")
                                    span Страх-трах
                        .info Телефон 8 (495) 123-45-67
                .insurance-services-block
                    h5 Выберите медицинские услуги
                    .insurance-search-wrapper
                        .insurance-search
                            input(type="search" name="service" required placeholder="Введите запрашиваемую услугу для пациента")
                            ul.search-list
                                li
                                    span СК Рандеву 
                                li 
                                    span СК МЕД-АСКЕР
                                li 
                                    span Страх-трах
                    .insurance-services-list
                        .service-item
                            img(src="src/img/check.png", alt="check")
                            span Первичный приём врача-стоматолога терапевта
                            button.btn-no-style
                                img(src="src/img/cross.png", alt="Cross")
                        .service-item 
                            img(src="src/img/question.png", alt="question")
                            span МРТ челюсти
                            button.btn-no-style
                                img(src="src/img/cross.png", alt="Cross")
                        .service-item
                            img(src="src/img/stop.png", alt="question")
                            span Полирование челюсти
                            button.btn-no-style
                                img(src="src/img/cross.png", alt="Cross")
                .insurance-button-wrapper
                    button(type="submit" class="red") Проверить

        script.
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                let searchLists = document.getElementsByClassName('search-list');
                if (searchLists) {
                    let addScroll = Array.prototype.filter.call(searchLists, function(searchList) {
                        if ((searchList.getElementsByTagName('li').length > 3) ){
                            searchList.classList.add("scroll-y");
                        }
                        
                    });
                }
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();

            

                        
                
            