<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/style.min.css")
    body.centered-content
        main
            h3(class="insurance-header") Проверка услуг медицинского страхования
            form(action="" class="insurance-main-form")
                .insurance-type-block
                    input(type="radio" name="type" id="oms" checked)
                    label(for="oms") ОМС
                    input(type="radio" name="type" id="dms")
                    label(for="dms") ДМС
                .insurance-number-block
                    input(type="text" name="number" placeholder="Введите номер полиса")
                    .insurance-search-wrapper
                        .insurance-search
                            input(type="search" name="company" placeholder="Выберите страховую компанию")
                            ul.company-list
                                li СК Рандеву
                                li СК МЕД-АСКЕР
                                li Страх-трах
                .insurance-services-block
                    h5 Выберите медицинские услуги
                    form(action="")
                        .insurance-search-wrapper
                            .insurance-search
                                input(type="search" name="service" placeholder="Введите запрашиваемую услугу для пациента")
                                ul.company-list
                                    li СК Рандеву
                                    li СК МЕД-АСКЕР
                                    li Страх-трах
                    .insurance-services-list
                        .service-item Первичный приём врача-стоматолога терапевта
                            button.btn-no-style &times;
                        .service-item МРТ челюсти
                            button.btn-no-style &times;
                        .service-item Полирование челюсти
                            button.btn-no-style &times;
                .insurance-button-wrapper
                    button(type="submit" class="red") Проверить

                        
                
            